* {
    margin: 0px;
    padding: 0px;
}
.cont a {
	text-decoration: none;
}

.header{
    margin-top: 15px;	
	padding-top: 8px 16px;
	overflow: hidden;
}

.logo {
	height: 40px;
	width: 280px;
	padding: 10px;
}

.push-left {
	float: left;
}

.push-right{
	float: right;
}

/*.head-logo {
	font-family: fontawesome;
	padding: 10px;
	color: #555555;
	font-size: 35px;
	float: left;
	font-weight: bold;
}

.color-com {
    color: #4CAF50;
}*/

.head-text {
	font-family: "Segoe UI",Arial,sans-serif;
	letter-spacing: 4px;
	color: black;
	font-size: 15px;
	padding-top: 25px;
	padding-right: 15px;
}


.nav-bar {
	font-family: "Segoe UI",Arial,sans-serif;
	background-color: #4CAF50;
	letter-spacing: 3px;
	font-size: 17px;
	box-shadow: 2px 2px 2px 2px #EDEDED;
	overflow: hidden;	
}

.nav-bar ul{
	list-style-type: none;
}

.nav-bar li i{
	padding: 21.5px;
	color: white;
}

.nav-bar li i:hover{
	color: black;
	background-color: white;
}

.nav-bar li a{
    padding: 20px;
	float: left;
	color: white;
}

.nav-bar li a:hover{
	background-color: white;
	color: black;
}

.menu-vertical {
	font-family: Verdana,sans-serif;	
	height: 100%;
	width: 15%;
	box-shadow: 1px 1px 1px 1px #ddd;
}
.menu-vertical ul{
	list-style-type: none;
}

.menu-vertical li a, h3 { 
    padding: 5px 20px 5px 20px;	
	display: block; 
	color: #444;
	text-decoration: none;
}

.menu-vertical li a:hover { 
	color: white;
	background-color: #4CAF50;
}

.menu-vertical h3 { 
	padding: 15px;    
}



