* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #f39c12;
	overflow: hidden;
}

.header ul {
	list-style-type: none;
}

.header ul li a {
    font-size: 20px;	
	text-decoration: none;
	color: #fff;
}

.header > ul > li {	
	padding: 20px;
}

.header ul li:hover {
	background-color: #e67e22;
}

.dropdown {
  	float: left;
  	color: white;
  	cursor: pointer;
}

.dropdown-content {
	position: absolute;
	top: 60px;
	visibility: hidden; 	
	background-color: #f39c12;
    max-height:0;
    transition:max-height 2000ms;   
}

.dropdown-content li {
	padding: 10px 20px; 
}

.dropdown:hover .dropdown-content {	
	max-height: 500px;
	visibility: visible;
}


